.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    text-align: center;
    background-color: #f8f9fa;
}

.welcome-content {
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1500px;
    width: 90%;
    max-height: 1500px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

.welcome-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #333;
}

.welcome-message {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 1rem;
}

.welcome-description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 3px solid #007bff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

.user-info, .guest-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
